<!DOCTYPE html>
<html>
<head>
    <title>Blog Posts</title>
    <link rel="stylesheet" type="text/css" href="{%load static%} {% static 'blog/css/style.css' %}">
    <script src="{% static 'blog/js/script.js' %}"></script>
</head>
<body>
    <h1>Blog Posts</h1>
    {% for post in posts %}
        <div class="post">
            <h2>{{ post.title }}</h2>
            <p>By {{ post.author }} on {{ post.published_date }}</p>
            <p>{{ post.content }}</p>
        </div>
    {% endfor %}
</body>
</html>
